[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"
bumpversion = "*"

[packages]
requests = "*"
fire = "*"

[requires]

python_version = "3.6"
